<form class="d-flex flex-column justify-content-center"
      [formGroup]="runnerForm">

    <div class="row">

      <div class="col-4">
        <label for="first_name" class="form-label">First Name:</label>
        <input type="text" class="form-control form-control-sm"
        formControlName="first_name" id="first_name">
        <div class="invalid-feedback">Required field</div>
      </div>

      <div class="col-4">
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="email" class="form-control form-control-sm"
          formControlName="last_name" id="last_name">
        <div class="invalid-feedback">Required field</div>
      </div>

      <div class="col-4">
        <label for="gender" class="form-label">Gender:</label>
        <select class="form-select form-select-sm" formControlName="gender">
          <option selected>Select</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <div class="invalid-feedback">Please, select a gender</div>
      </div>

    </div>

    <div class="row">

      <div class="col-4">
        <label for="country" class="form-label">Country:</label>
        <input type="text" class="form-control form-control-sm"
          formControlName="country" id="country">
        <div class="invalid-feedback">Required field</div>
      </div>

      <div class="col-4">
        <label for="race_time" class="form-label">Race time:</label>
        <input type="email" class="form-control form-control-sm"
          formControlName="race_time" id="race_time">
        <div class="invalid-feedback">Required field</div>
      </div>

      <div class="col-4">
        <label for="best_time" class="form-label">Best time:</label>
        <input type="email" class="form-control form-control-sm"
          formControlName="best_time" id="best_time">
        <div class="invalid-feedback">Required field</div>
      </div>

    </div>

  </form>

  <div class="mt-4">
    <button type="submit" class="col-2 btn btn-info m-1" data-bs-dismiss="modal" (click)="updateRunner()">Update</button>
    <button type="submit" class="col-2 btn btn-danger m-1" data-bs-dismiss="modal">Back</button>
  </div>

