<nav class="navbar navbar-expand-sm navbar-dark bg-primary ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/runners">Bcn Marathon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav container-fluid d-flex justify-content-around">
        <a class="nav-link" routerLink="/runners" routerLinkActive="active">Runners</a>
        <a class="nav-link" routerLink="/map" routerLinkActive="active">Map</a>
        <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendar</a>
        <a class="nav-link" routerLink="/graph" routerLinkActive="active">Graph</a>
      </div>
    </div>
  </div>
</nav>
