<div class="container mt-2">
  <table class="table table-sm table-responsive table-borderless">
      <thead class="">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Country</th>
          <th>Race time</th>
          <th>Best time</th>
          <th>Actions</th>
        </tr>
      </thead>
    <tbody class="">
      @for (runner of runners; track runner.ID){
        <tr>
          <td>{{runner.first_name}}</td>
          <td>{{runner.last_name}}</td>
          <td>{{runner.gender}}</td>
          <td>{{runner.country}}</td>
          <td>{{runner.race_time}}</td>
          <td>{{runner.best_time}}</td>
          <td>
            <button type="button" class="btn btn-sm mx-1 btn-info"
              (click)="editRunner(runner)">
              Edit</button>
            <button type="button" class="btn btn-sm btn-danger"
               (click)="delRunner(runner.ID)">Del</button>
          </td>
        </tr>
          <br/>
        }
    </tbody>
  </table>

  <button type="button" class="btn btn-success"
  (click)="addRunner()">
    Add new runner
  </button>


</div>
